# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.Rproj.user

# R CMD BATCH output files
*.Rout

# produced vignettes
vignettes/*.html
vignettes/*.pdf

Rplots.pdf

# RData files
*.RData

# RDS files
*.rds

# Rproj files
*.Rproj

Help/
doc/
